#resinfo {
    display: grid;
    grid-template-columns: 7vw 4vw 4vw 4vw 3vw 2vw;
    justify-content: space-evenly;
    background-color: lightgray;
    border: 1px solid black;
    color: #112334;
}

#trashbin {
    height: 25px;
    width: auto;
    padding-top: 2vh;
}

#spotdate {
    white-space: nowrap;
}

#spotlength {
    margin-left: 2.5vw;
}

#spottime {
    white-space: nowrap;
}