#wholerespage {
    display: grid;
    padding-top: 12vh;
    grid-template-columns: auto auto;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    border-radius: 2px;
    padding-left: 1vw;
}

#respage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh 4vh;
    padding-left: 40px;
    background-color: #112334;
}

#spottimes {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    padding-right: 10vw;
    margin-top: -25vh;
}

#spotvibes {
    display: grid;
    grid-template-columns: auto auto;
}

#clientresparent {
    display: grid;
    grid-template-columns: auto auto auto auto 2vw 1vw;
    justify-content: space-evenly;
    background-color: #47498a;
    padding-right: 3vw;
    color: whitesmoke;
}

#resinfopost {
    margin-top: -32vh;
    padding-left: 40px;
    display: grid;
    grid-template-columns: auto;
    padding-right: 3vw;
    padding-bottom: 2vh;
}

.resinput {
    margin-bottom: 2vh;
    height: 3vh;
}

#clientSuperParent {
    height: 80vh;
    background-color: #47498a;
    margin-right: 4vw;
    margin-left: 8vw;
    overflow-y: scroll;
    border-radius: 2px;
    border-bottom: 1px solid black;
}

#flightBtn {
    width: 20vw;
    margin-left: 12vw;
    font-size: 1rem;
    background-color: #6DB8FE;
    border-radius: 15px;
    border: 2px solid #6DB8FE;
}

#adADDheading{
    margin-top: -5vh;
}

::placeholder { 
    color: #112334;
    opacity: 1; 
  }