#wholedashboard {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding-top: 12vh;
    font-family: 'Lato', sans-serif;
    color: #112334;
}

#campaignsummary {
    border: 2px solid grey;
    margin-right: 2vw;
    padding: 2vh;
    margin-right: 15vw;
    width: 50vw;
    height: 80vh;
    border-radius: 2px;
}

#quicklookcontainer {
    display: grid;
    padding-top: 3vh;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

#btncontainer {
    margin-bottom: 5vh;
    display: grid;
    justify-content: end;
}

#allaccountsbtn {
    background-color: #6DB8FE;
    border-radius: 30px;
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1.2rem;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: center;
    font-weight: 400;
    transition: background-color .2s;
}

#allaccountsbtn:hover {
    background-color: #63a6e5;
    color: white;
}

#clientlist {
    margin-left: -8vw;
    padding-top: 5vh;
}