#homepage {
    background-color: #47498a;
    height: 250vh;
    width: 100%;
    display: grid;
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    padding-top: 13vh;
    font-family: 'Lato', sans-serif;
}

#textParent {
    display: grid;
    grid-template-columns: 40vw auto;
    padding-top: 5vh;
    padding-left: 10vw;
}

#infobar {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    height: 40vh;
    width: 100%;
    background-color: white;
    margin-top: 8vh;
}

#infobar2 {
    height: 60vh;
    width: 40%;
    background-color: #6DB8FE;
    margin-top: 10vh;
}

#demopic1 {
    height: 400px;
    width: auto;
    margin-top: -685px;
    margin-left: auto;
    margin-right: 5vw;
    border-radius: 10px;
}

#imgbackground {
    background-color: #FFBA53;
    height: 400px;
    width: 800px;
    margin-top: -595px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 3vw;
}

#signuphome {
    background-color: #6DB8FE;
    font-size: 1.4rem;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 1px solid #6DB8FE;
}

#signuphome:hover {
    background-color: #63a6e5;
    color: white;
}

#wordout {
    padding-top: 5vh;
    
}

#analytics {
    padding-top: 5vh;
    
}

#service {
    padding-top: 5vh;
    
}

#demopic {
    height: 150px;
    width: auto;
}

.bartext {
    color: black;
    font-size: 1.3rem;
    margin-left: 3vw;
    margin-right: 3vw;
}



