#homepage {
    background-color: #47498a;
    height: 240vh;
    width: 100%;
    display: grid;
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    padding-top: 13vh;
    font-family: 'Lato', sans-serif;
}

#homepic {
    height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
}

#homebuttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    white-space: nowrap;
}

#textParent {
    display: grid;
    grid-template-columns: 40vw auto;
    padding-top: 5vh;
    padding-left: 10vw;
}

#infobar {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    height: 40vh;
    width: 100%;
    background-color: white;
    margin-top: 20vh;
}

#infobar2 {
    height: 60vh;
    width: 40%;
    background-color: #6DB8FE;
    margin-top: 10vh;
    color: #112334;
    margin-left: 1vw;
    border-radius: 3px;
}

#cliente {
    margin-top: 3vh;
    font-size: 4rem;
    margin-left: 3vw;
    margin-right: 1vw;
    text-align: start;
}

#capabilities {
    text-align: start;
    margin-left: 3vw;
    margin-right: 2vw;
}

#seefeatures {
    font-size: 1.5rem;
    text-align: start;
    margin-left: 3vw;
    transform:translateX(0) translateY(0);
    transition:transform 1s ease-in-out;
    color: #112334;
}

#seefeatures:hover {
    transform:translateX(40px);
}

#demopic1 {
    height: 400px;
    width: auto;
    margin-top: -450px;
    margin-left: auto;
    margin-right: 5vw;
    border-radius: 10px;
}

#imgbackground {
    background-color: #FFBA53;
    height: 400px;
    width: 800px;
    margin-top: -490px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 3vw;
}

#signuphome {
    background-color: #6DB8FE;
    font-size: 1.4rem;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 1px solid #6DB8FE;
    color: #112334;
}

#signuphome1 {
    background-color: whitesmoke;
    font-size: 1.4rem;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 1px solid whitesmoke;
    color: #112334;
}

#signuphome:hover {
    background-color: #63a6e5;
    color: white;
}

#signuphome1:hover {
    background-color: lightgray;
}

#wordout {
    padding-top: 5vh;
    
}

#analytics {
    padding-top: 5vh;
    
}

#service {
    padding-top: 5vh;
    
}

#demopic {
    height: 150px;
    width: auto;
}

.bartext {
    color: #112334;
    font-size: 1.3rem;
    margin-left: 3vw;
    margin-right: 3vw;
}

#bottominfo{
    display: grid;
    padding-top: 21vh;
    grid-template-columns: auto;
    grid-template-rows: 15vh;
}

#emailbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 14vh;
    height: 150px;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
}

#joinButton {
    background-color: #6DB8FE;
    font-size: 1.4rem;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
    border: 1px solid #6DB8FE;
    color: #112334;
    margin-right: 25vw;
}

#bottombar {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    grid-template-rows: 5vh 5vh;
    justify-content: center;
    padding-top: 4vh;
    font-size: 1rem;
    height: 150px;
    width: 100%;
    background-color: #112334;
}

#emaillist{
    color: #112334;
    margin-left: 25vw;
}



